/* SignUp Page */

.signup {
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signupWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .signupLeft,
  .signupRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signupLogo {
    font-size: 60px;
    font-weight: 800;
    color: #71A894;
    margin-bottom: 10px;
  }
  
  .signupDesc {
    font-size: 24px;
  }
  
  .signupBox{
      height: 400px;
      padding: 30px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  
  h3{
    font-size: 2rem;
    color: #303031;
    margin-bottom: 1rem;
  }
  
  .input-row {
    display: flex;
    gap: 20px; /* This sets the space between the input elements */
  }
  
  .info-input{
    width: 80%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: var(--inputColor);
  }
  .single{
    width: 90%;
  }
  
  .info-input:hover{
    border: 1px solid rgb(192, 192, 192);
}

.info-button{
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px 0;
    width: 6rem;
}

.login_option{
    color: #303031;
    font-size: 0.8rem;
    margin-top: 1.4rem;
    cursor:pointer;
}

.error{
    color: red;
    font-size: 12px;
    align-self: center;

}

/* Login Page */

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 60px;
    font-weight: 800;
    color: #71A894;
    margin-bottom: 10px;
  }
  
  .loginDesc {
    font-size: 24px;
  }
  
  .loginBox{
      height: 290px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }