.Auth{
    width: 330px;
    padding: 0.5rem 1rem;
    margin: 50px auto;
    background-color: var(--cardColor);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h3{
    font-size: 2rem;
    color: #303031;
    margin-bottom: 1rem;
}


.info-input{
    width: 80%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: var(--inputColor);
}

.info-input:hover{
    border: 1px solid rgb(192, 192, 192);
}

.info-button{
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px 0;
    width: 6rem;
}

.login_option{
    color: #303031;
    font-size: 0.8rem;
    margin-top: 1.4rem;
    cursor:pointer;
}

.error{
    color: red;
    font-size: 12px;
    align-self: center;

}
/* .Auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.Auth > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info-input{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.info-input > div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.info-button{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.auth-form{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.auth-form > div {
    width: 100%;
    align-items: center;
    justify-content: center;
} */