.postside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 1rem;
    overflow: auto;
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--buttonHV);
}

