.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.profile-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.username{
    color: #DD8762;
}


.Post>img{
     width: 100%;
     max-height: 20rem;
     object-fit: cover;
     border-radius: 0.5rem;
}

.postReact,
.reactDetails{
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    color: var(--buttonHV);
}

.fa:hover{
    cursor: pointer;
}