.info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.info-input{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.info-input > div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.info-button{
    width: 8rem;
    height: 2rem;
}

.dl-button{
    background-color: red;
}